<div>
  <h1>Register</h1>
  <form action="/api/users" method="POST">

    <label>Nombre</label>
    <input name="name" />

    <label>Apellido</label>
    <input name="lastName" />

    <label>Email</label>
    <input name="email" type="email" />

    <label>Edad</label>
    <input type="number" name="age" />

    <label>Teléfono</label>
    <input name="phone" type="number" />

    <input type="submit" />
  </form>
</div>