/afterClassJan31/node_modules
/clase3/numbers_generator_project/node_modules
/clase3/ageCalculator/node_modules
/army/node_modules
/clase3/entregable/node_modules
/clase3/user_project_v2/node_modules
/clase4/server_http/node_modules
/clase4/express p1/node_modules
/clase4/express_words_p2/node_modules
/clase4/entregable/node_modules
/clase5/express_router_p1/node_modules
/clase5/express_router_multer_p2/node_modules
/clase5/express_handlebars_p1/node_modules
/clase5/express_handlebars_p2/node_modules
clase5/entregable/node_modules
clase6/express_handlebars_socket_p1/node_modules
clase6/express_socket_chat_handlebars_p1/node_modules
clase6/entregable/node_modules
/afterClassFeb22/node_modules
clase7/mongo-crud-p1/node_modules
clase7/mongo-crud-p2/node_modules
clase8/node_modules
clase8/.env.*

