<div>
  <h1>Sign up form</h1>

  <form action="/api/users" method="post">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
    </div>

    <div>
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" />
    </div>

    <div>
      <label for="email">email</label>
      <input type="email" name="email" id="email" />
    </div>

    <div>
      <label for="age">Age</label>
      <input type="number" name="age" id="age" />
    </div>

    <div>
      <label for="phone">Phone</label>
      <input type="number" name="phone" id="phone " />
    </div>

    <div>
      <input type="submit" />
    </div>
  </form>
</div>