* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div input[type=submit]{
    margin-top: 2rem;
}
