<div>
  <h1>Password recover</h1>

  <div>
    <form action="/api/session/update" method="post">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Insert your email"
        />
      </div>

      <div>
        <label for="password">New password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="Create a new password"
        />
      </div>

      <div>
        <button type="submit">Update password</button>
      </div>
    </form>
  </div>
</div>