<div>
  <h1>User profile</h1>

  <div>
    <p>{{this.lastName}}</p>
    <p>{{this.email}}</p>
    <p>{{this.age}}</p>
  </div>

  <div>
    <form action="/api/session/logout" method="get">
      <button type="submit">Log out</button>
    </form>
  </div>

</div>